.doctorCard {
    width: 40vw;
    height: 75vh;
    margin: 0;
    padding-left: 1vw;
    padding-right: 1vw;

    display: flex;
    flex-wrap: nowrap;
    
    border: 1px solid #2d2e2e;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.doctorCardInfo {
    width: 25%;
    margin-left: 1vw;
    margin-top: 2vh;
    margin-bottom: 1em;
}

.doctorCardInfo>p {
    margin: 0;

    font-size: larger;
}

.doctorCardInfo a {
    margin-left: 10%;

    text-decoration: none;
    color: black;
    font-size: large;
}

.doctorCardAppointments {
    width: 100%;
    height: 100%;
    
    padding-bottom: 3vh;
    display: flex;
    flex-flow: column;
    /* justify-content: center; */
    overflow: hidden;
    overflow-y: auto;

}

.fade {
    mask-image: linear-gradient(180deg, #000 80%, transparent);
}
