:root{
    --primary-bg-color: #fbfbfb; /* white */
    --secondary-bg-color: #276fbf; /* saphire sky */
    --tertiary-bg-color: #dfd9e2; /* lavender */

    --primary-text-color: #0f0f0f; /* onyx */
    --secondary-text-color: #2d2e2e; /* graphite */
}